body {
    font-weight: 700;
    font-size: 24px;
    background-color: #043946;
    -webkit-tap-highlight-color: transparent;
    khtml-tap-highlight-color: transparent; }  
.button{
    color: #043946;
    flex-direction: column;
}