body {
    font-weight: 700;
    font-size: 24px;
    background-color: #ffffff;
    -webkit-tap-highlight-color: transparent;
 }  
    button {
        background-color: #a198a1; /* Green */
        border: 1cm;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        font-size: 16px;
        justify-content: center;
        
      }

        